[Unit]
Description=Start wifi service
After=wpa_supplicant

[Service]
Type=idle
RemainAfterExit=true
ExecStart=/bin/bash /etc/systemd/system/start-wifi.sh

[Install]
WantedBy=multi-user.target