[Unit]
Description=Start wifi service
After=wpa_supplicant

[Service]
Type=idle
RemainAfterExit=true
ExecStart=/bin/bash /usr/bin/start-wifi.sh

[Install]
WantedBy=multi-user.target